.head {
  border-bottom: 1px solid #ececec;
}

header {
  position: relative;
}

.header {
  display: flex;
  align-items: center;

  // @media screen and (min-width: 480px) {
  //   display: block;
  // }

  &__logo {
    // margin-right: 91px;
    // padding-top: 24px;
    // padding-bottom: 25px;
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 15px;

    color: $primary-text-color;
    font-family: $secondary-font;
    // font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

    @media screen and (min-width: 480px) {
    }
  }
}

.header__title {
  color: $accent-color;
  font-family: $secondary-font;
  // font-style: normal;
  // font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.header-nav {
  display: none;

  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    color: $primary-text-color;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  // @media screen and (min-width: 480px) {
  //   display: none;
  // }
}
.header-nav__item + .header-nav__item {
  padding-left: 50px;
}

.header-nav__link--current {
  color: $accent-color;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: $accent-color;
    border-radius: 2px;
    bottom: -1px;
  }
}
.header-auth {
  display: none;
  // display: flex;
  // margin-left: auto;

  // @media screen and (min-width: 480px) {
  //   display: none;
  // }

  &__item {
    margin-left: 30px;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $title-tex-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $accent-color;
      fill: $accent-color;
    }
  }

  &__icon {
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.mobile-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  height: 40px;

  bottom: none;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-button .icon-cross {
  display: none;
}

.mobile-button.is-open .icon-cross {
  display: block;
}

.mobile-button.is-open .icon-burger {
  display: none;
}

.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 796px;
  background-color: #ffffff;
  padding: 48px 40px;
  font-size: 40px;
  // list-style: none;

  &.is-open {
    display: block;
  }
}

.menu-container__list--nav {
  margin-bottom: 306px;
}

.menu-container__list--nav .menu-container__item,
.menu-container__list--auth .menu-container__item {
  margin-bottom: 32px;
}
.menu-container__item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;

  color: #212121;
}

.menu-container__list--soc {
  display: flex;
  list-style: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);

  letter-spacing: 0.02em;

  color: #2196f3;
}
