.section-hero {
  max-width: 1600px;
  background: rgba(47, 48, 58, 0.4);
  text-align: center;

  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/Hero/imgheromob1.jpg');

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      ('../images/Hero/imgheromob2.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/Hero/tabhero1.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        ('../images/Hero/tabhero1.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/Hero/deskhero1.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        ('../images/Hero/deskhero2.jpg');
    }
  }
}

.hero {
  display: block;

  &__title {
    max-width: 696px;
    display: block;
    color: $pimary-white-color;

    font-weight: 900;
    font-size: 26px;

    line-height: 1.3636;
    letter-spacing: 0.06em;
    margin: 0 auto 30px;

    //   @media screen and (min-width: 768px) {
    //   }
    // }

    @media screen and (min-width: 1200px) {
      font-size: 44px;
    }
  }

  &__button {
    display: block;

    padding: 10px 24px;
    min-width: 216px;
    text-align: center;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: $pimary-white-color;
    background-color: $accent-color;
    cursor: pointer;
    border: none;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    padding: 10px 34px;
  }
}
