$primary-text-color: #212121;
$title-tex-color: #757575;
$accent-color: #2196f3;
$pimary-white-color: #ffffff;
$secondary-white-color: #f5f5f5;
$primary-background-color: #2f303a;
$footer-color: rgba(255, 255, 255, 0.6);
$color-btn-bg: #f5f4fa;
$icon-color: #afb1b8;

$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
